@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --imperial-red: hsla(355, 78%, 56%, 1);
    --honeydew: hsla(105, 55%, 96%, 1);
    --powder-blue: hsla(182, 43%, 76%, 1);
    --celadon-blue: hsla(203, 39%, 44%, 1);
    --prussian-blue: hsla(215, 50%, 23%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
font-family: 'Overpass Mono', monospace;
    background-color: powderblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: rgba(240, 255, 255, 0.359);
    margin-top: 20px;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--imperial-red);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

h3 {
    font-size: 50px;
}

label {
    font-size: 30px;
    margin: 10px;
}

input {
    font-size: 30px;
}

button {
    background-color: var(--celadon-blue);
    border: 0px;
    height: 35px;
    font-size: 15px;
    width: 100px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right {
    margin-left: 30px;
}

.left {
    margin-right: 30px;
}

button:hover {
    background-color: lightcoral;
}

#sign-up {
    align-items: center;
}

#sign-in {
    align-items: center;
}

#new-participant {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#workshops {
    font-size: 20px;
}